body{
    font-family: "Roboto", sans-serif;
    background-color: #e6c9a4;
    background-image: url(../multimedia/fondointentowebdos.webp);
    background-size:contain;
    background-attachment: fixed;
}